{% extends "refrigerator/base.html" %}

{% block content %}
  <h2>W lodówce znajdują się:</h2>
  <ul>

  <table>
  <tr>
    <th>Nazwa produktu &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Ilość &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Data ważności &nbsp;&nbsp;&nbsp;&nbsp;  </th>
    <th>Ile dni zostało </th>

  </tr>
    {% for product in products %}
    <tr>
      <td><a href = '{% url 'product' id=product.id %}'>{{ product.name }}</a>
      </td>
      <td>{{product.quantity}}</td>
      <td>{{product.expiration_date}}</td>
      <td></td>

      <td>
    </tr>

  {% endfor %}

{% endblock %}
